
.es-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    
}

.es-subtitle {
    font-size: 20px;
    font-weight: bold;
    
}

.es-subtitle-sm {
    font-size: 16px;
    font-weight: bold;
    
}

body {
    color: #000000;
    
}

.highlight {
    color: #513028;
}

.highlight-background {
    background-color: #862c0e;
}
.highlight-border {
    border-color: #513028;
}
.highlight-svg {
    fill: #513028;
}

.primary {
    color: #000000;
    
}
.primary-background {
    background-color: #000000;
}
.primary-border {
    border-color: #000000;
}
.primary-btn {
    background-color: #000000;
    color: #FFFFFF;
}
.primary-svg {
    fill: #000000;
}

.background-background {
    background-color: #FFFFFF;
}

a {
    color: #862c0e;
    
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
a:focus, a:hover {
    color: #000000;
}

.soft-link {
    color: #000000;
}
.soft-link:hover {
    text-decoration: underline;
    cursor: pointer;
}
.soft-link:focus, .soft-link:hover {
    color: #513028;
}

body {
    background-color: #FFFFFF !important;
}

.background-hover:hover {
    background-color: #F9F9F9;
}

.background-hover-border {
    border: 1px solid transparent;
}
.background-hover-border:hover {
    background-color: #F9F9F9;
    border: solid 1px #513028;
    cursor: pointer;
}

.alternate-background,
.alternate-background-hover:hover,
.alternate-background-hover:focus,
.alternate-background-hover:active {
    background-color: #F9F9F9;
}

.alternate-background-light {
    background-color: #F9F9F9;
}

.alternate-border {
    border-color: #F9F9F9;
}
.alternate .icon:before, .alternate .icon:after {
    background-color: #737373;
}

.highlight-contrast {
    color: #FFFFFF;
}

.highlight-btn {
    background-color: #862c0e;
    color: #FFFFFF;
}

.highlight-btn:hover,
.highlight-btn:focus,
.highlight-btn:active,
.highlight-btn:active:hover,
.highlight-btn:active:focus {
    background-color: #5D1F0A;
    color: #FFFFFF;
}

.tags ul li a::after  {
    background: #5D1F0A;
}

.btn-svg {
    stroke: #FFFFFF !important;
    fill: #FFFFFF !important; 
}

.corner-ribbon {
    background-color: #513028;
    color: #FFFFFF;
}